body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 100vh;
    background-image: linear-gradient(rgb(255, 174, 0),rgb(255, 72, 0));
    color: white;
    padding: 2rem 4rem;
}
li {
    margin-bottom: 10px;
  }
button{
    padding: .4rem .7rem;
    border: none;
    background-color: rgb(0, 148, 25);
    color: white;
    border-radius: 5px;
    transition: .2s ease-in-out;
}
button:hover{
    background-color: rgb(0, 92, 15);
    transition: .2s ease-in-out;
    color: white;
    cursor: pointer;
    margin-left: 1em;
}
button:active{
    color: white;
    background-color: rgb(0, 148, 25);
}

#item{
    border-radius: 5px;
    border: none;
    outline: none;
    height: 1.5rem;
    width: 30%;
    padding: 0rem 1rem;
}

.lItem{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.041);
    border-radius: 5px;
    padding: 0rem 1rem;
}

.lItem:hover{
    background-color: rgba(0, 0, 0, 0.082);
    transition: .2s ease-in-out;
}

.removeBtn{
    height: 2rem;
    background-color: rgb(255, 72, 0);
}
.removeBtn:hover{
    background-color: rgb(122, 36, 2);
    margin-right: .3rem;
    transition: .1s ease-in-out;
}
